#Ignore env folder
.venv
#Airflow metadata
airflow/airflow.db
airflow/airflow.cfg
airflow/logs/
airflow/simple_auth_manager_passwords.json.generated
airflow/dags/__pycache__/
airflow/dags/__pycache__/*
airflow/data/cookies/*.json