# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=password

# MongoDB
MONGO_URI=mongodb://mongo:27017
MONGO_DB=app

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_QUEUE=inventory_items
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

#STEAM_INFOS
STEAMID=123456
STEAM_USERNAME=your_username
STEAM_PASSWORD=your_password

#AIRFLOW_CONFIGS ( for new docker compose only)
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=
AIRFLOW__API__SECRET_KEY=
AIRFLOW__API_AUTH__JWT_SECRET=
