# =========================
# Infrastructure Host
# =========================
INFRA_HOST=192.168.1.100


# =========================
# RabbitMQ
# =========================
RABBITMQ_HOST=192.168.1.100
RABBITMQ_QUEUE=inventory_items
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest


# =========================
# Redis
# =========================
REDIS_HOST=192.168.1.100
REDIS_PORT=6379


# =========================
# PostgreSQL
# =========================
POSTGRES_HOST=192.168.1.100
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=password


# =========================
# MongoDB
# =========================
MONGO_URI=mongodb://192.168.1.100:27017
MONGO_DB=app


# =========================
# Buff Credentials
# =========================
BUFF_USERNAME=your_username
BUFF_PASSWORD=your_password